__pycache__/alpha.cpython-36.pyc
__pycache__/optimalHoldings.cpython-36.pyc
__pycache__/pca.cpython-36.pyc
__pycache__/project_helper.cpython-36.pyc
__pycache__/project_tests.cpython-36.pyc
__pycache__/tests.cpython-36.pyc
.DS_Store
workspace.code-workspace
